lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log
build

bin/
obj/
*.user
*.suo
packages/*
_ReSharper*

.idea/**/*
node_modules/
.vs/
bin/
obj/
package-lock.json
*.tgz


/src/.idea/
.vscode
*.pdb
lib/ref
lib/runtimes
src/edge-ps/.idea


src
build.js
.idea
*.sln
/*.fs
/*.fsx